@import "tailwindcss";

@plugin "daisyui" {
    themes: all;
    logs: true;
}
.base-container {
    /* layout: single column, two rows (navigator + content) */
    @apply flex flex-col min-h-screen;
}

.motto-card-container {
    /* second row: take remaining space and center the card */
    @apply flex justify-center items-center flex-1;
}

.motto-card-animation-default {
    @apply cursor-pointer;
}

.motto-card-base {
    @apply card card-xl shadow-sm w-96 h-[32rem];
    @apply bg-accent/80 text-accent-content;
}

.motto-card-title {
    @apply h-[20%] flex items-center justify-center;
}

.motto-card-content {
    @apply h-[60%] flex justify-center px-2;
    font-family: cursive;
}

.motto-card-author {
    @apply h-[10%] flex items-center justify-end;
}

.motto-card-actions {
    @apply h-[10%] flex card-actions items-center justify-end;
}